/* Color Palette */
/*
red: #f8241bff;
phthalo-Green: #162B12ff;
fern-green: #3b742fff;
slimy-green: #4f9e02ff;
mango: #fdbf04ff;
cyber-grape: #493e6bff;
isabelline: #faf7f3ff;
*/


body {
  font-family: Arial, Helvetica, sans-serif;
  color: #faf7f3ff;
  background-color: #493e6bff;
}
.big-container {
  flex: block;
  flex-direction: column;
  align-items: center;
}

/*----- HEADER -----*/
header {
  background: #3b742fff;
  padding: 5px;
  margin: 5px;
  border-radius:10px;
  width: 1000px;
  height: fit-content;
  box-shadow: 2px 2px 5px #162B12ff;
  text-align: center;
  border: 4px solid black;
}
header h1 {
  font-family: 'Amarante', cursive;
  letter-spacing: 20px;
  font-size: 80px;
  margin: 0px;
  padding: 0px;
  /* text-shadow: 1px 1px 10px #faf7f380; */
  /* -webkit-text-stroke: 0.1px black; */
  text-shadow:
    -3px -3px 0 #000,  
     3px -3px 0 #000,
    -3px  3px 0 #000,
     3px  3px 0 #000;
}
::placeholder {
  color: white;
}
header input {
  width: 75%;
  height: 20px;
  padding: 5px;
  border-radius:5px;
  margin: 5px;
  
  color: #faf7f3ff;
  text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;
  background-color: #fdbf04ff;
  border: 3px solid black;
}
.button {
	background:linear-gradient(to bottom, #509e02 5%, #68a54b 100%);
  background-color:#509e02;
  margin: 1px;
	border-radius:5px;
	border: 3px solid black;
	display:inline-block;
	cursor:pointer;
  color:#faf7f3;
  -webkit-text-stroke: 1px black;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;
}
.button:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #509e02 100%);
	background-color:#68a54b;
}
.button:active {
	position:relative;
	top:1px;
}


/*------ Category ----------*/
.category-nav {
  margin: 5px;
}
.cat-butt{
  margin: 3px;
  border: 3px black;
  background-color:#509e02;
  margin: 2px 5px;
  padding:5px 10px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
  color:#faf7f3;
  border: 3px solid black;
  text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;
}

/*------ PatternList -------*/
.pattern-list {
  display: flex;
  flex-flow: row wrap;
  /* align-items: flex-start; */
  justify-content: space-evenly;
  background: #3b742fff;
  padding: 15px;
  margin: 0px;
  border-radius:10px;
	border:1px solid #3b6e22;
  width: 1000px;
  height: fit-content;
  box-shadow: 2px 2px 5px #162B12ff;
  border: 4px solid black;
}
.pattern-list h1 {
  font-size: 50px;
  margin: 0px;
  padding: 5px;
  text-shadow:
  -1px -1px 3px #000,  
   1px -1px 3px #000,
  -1px  1px 3px #000,
   1px  1px 3px #000;
}
.pattern-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*------ PatternTile -------*/
.pattern-card {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  background-color: #4f9e02ff;
  border-radius:10px;
	border:1px solid #3b6e22;
  width: 400px;
  height: 200px;
  border: 3px solid black;
}
.pattern-card img {
  max-width: 100px;
  max-height: 100px;
  border: 3px solid black;
  border-radius: 10px;
}


/*------ PatternView -------*/
.pattern-show {
  width: 700px;
  margin-left: 10px;
  display: grid;

}
.cat-p{
  font-size: 1em;
  margin: 0px 0px 5px 30px;
  text-shadow:
  -1px -1px 3px #000,  
   1px -1px 3px #000,
  -1px  1px 3px #000,
   1px  1px 3px #000;
}
.pattern-show img {
  float: left;
  max-width: 500px;
  max-height: 500px;
  border: 3px solid black;
  border-radius: 5px;
}
.pattern-show p {
  width: 550px;
  text-shadow:
  -1px -1px 3px #000,  
   1px -1px 3px #000,
  -1px  1px 3px #000,
   1px  1px 3px #000;
  
}
.pattern-show h1 {
  width: 50%;
  padding: 20px;
  font-size: 30px;
  margin: 0px;
  padding: 5px;
  text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;
}
.pattern-show h2 {
  width: 50%;
  float: right;
  padding: 20px;
  font-size: 50px;
  margin: 0px;
  padding: 5px;
  text-shadow: 1px 1px 10px #faf7f380;
  -webkit-text-stroke: 2px black;
}

/*---------ProjectList--------*/
.project-card {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  background-color: #4f9e02ff;
  border-radius:10px;
	border:1px solid #3b6e22;
  width: 250px;
  height: 300px;
  border: 3px solid black;
  overflow: hidden;
  display:grid;
  text-align: center;
}
.project-cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}
.create-project{
  padding: 5px 10px;
  margin: 4px 2px;
  border: 3px solid black;
  background-color:#509e02;
  color:#faf7f3;
	border-radius:5px;
  cursor:pointer;
  display: inline-block;
  text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;
}
.project-card-detail{
  width: 250px;
  height: 160px;
  text-shadow:
  -1px -1px 3px #000,  
   1px -1px 3px #000,
  -1px  1px 3px #000,
   1px  1px 3px #000;
}
.project-card img {
  max-width: 150px;
  max-height: 100px;
  min-height: 80px;
  border: 2px solid black;
  border-radius: 5px;
}
.pro-CRUD{
  width: 250px;
  height: 75px;
  text-shadow:
  -1px -1px 2px #000,  
   1px -1px 2px #000,
  -1px  1px 2px #000,
   1px  1px 2px #000;

}
.project-input{
  width: 150px;
  border-radius: 5px;
  border: 2px solid black;
  color:#faf7f3;
  text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;
  background-color: #fdbf04ff;
}
.pro-add {
  float: left;
  padding: 5px 5px;
  margin: 4px 2px;
  border: 3px solid black;
  background-color:#509e02;
  color:#faf7f3;
	border-radius:5px;
  cursor:pointer;
  display: inline-block;
  text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;
}
.pro-delete {
  float: right;
  padding: 5px 5px;
  margin: 4px 2px;
  border: 3px solid black;
  background-color:#509e02;
  color:#faf7f3;
	border-radius:5px;
  cursor:pointer;
  display: inline-block;
  text-shadow:
  -1px -1px 1px #000,  
   1px -1px 1px #000,
  -1px  1px 1px #000,
   1px  1px 1px #000;



}
























/*   provided css  */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  max-height: 100px;
}

.button,
button {
  padding: 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
  line-height: 1;
}

.button.active,
.button:hover,
button.active,
button:focus,
button:hover {
  outline: none;
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}

button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}

button.blue.active,
button.blue:focus,
button.blue:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
} */