/* Color Palette */
/*
red: #f8241bff;
phthalo-Green: #162B12ff;
fern-green: #3b742fff;
slimy-green: #4f9e02ff;
mango: #fdbf04ff;
cyber-grape: #493e6bff;
isabelline: #faf7f3ff;
*/


body {
  font-family: Arial, Helvetica, sans-serif;
  color: #faf7f3ff;
  background-color: #493e6bff;
}

/*----- HEADER -----*/
header {
  background: #3b742fff;
  padding: 15px;
  margin: 10px;
  border-radius:5px;
	border:1px solid #3b6e22;
  width: 100%;
  height: fit-content;
  box-shadow: 2px 2px 5px #162B12ff;
  text-align: center;
}
header h1 {
  /* font-family: 'New Rocker', cursive; */
  font-family: 'Amarante', cursive;
  letter-spacing: 20px;
  font-size: 80px;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 10px #faf7f380;
  /* -webkit-text-stroke: 0.1px black; */
}
header input {
  width: 90%;
  height: 20px;
  padding: 5px;
  border-radius:5px;
  margin: 5px;
  color: #faf7f3ff;
  background-color: #fdbf04ff;
}
.button {
	background:linear-gradient(to bottom, #509e02 5%, #68a54b 100%);
  background-color:#509e02;
  margin: 2px;
	border-radius:5px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
  color:#faf7f3;
  -webkit-text-stroke: 1px black;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:1px 2px 6px #162b12;
}
.button:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #509e02 100%);
	background-color:#68a54b;
}
.button:active {
	position:relative;
	top:1px;
}
.search-submit {
  background-color: #fdbf04ff;
  border-radius: 100%;
  width: fit-content;
}

/*------ Category ----------*/
.category-nav {
  margin: 5px;
}
.cat-butt{
  margin: 3px;
  border: 3px black;
  background-color:#509e02;
  margin: 2px 5px;
  padding:5px 10px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
  color:#faf7f3;
}

/*------ PatternList -------*/
.pattern-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background: #3b742fff;
  padding: 5px;
  margin: 10px;
  border-radius:5px;
	border:1px solid #3b6e22;
  width: 100%;
  height: fit-content;
  box-shadow: 2px 2px 5px #162B12ff;
}
.pattern-list h1 {
  font-size: 50px;
  margin: 0px;
  padding: 5px;
  text-shadow: 1px 1px 10px #faf7f380;
  -webkit-text-stroke: 2px black;
}
.pattern-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*------ PatternTile -------*/
.pattern-card {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  background-color: #4f9e02ff;
  border-radius:5px;
	border:1px solid #3b6e22;
  width: 400px;
  height: 200px;
}
.pattern-card img {
  max-width: 100px;
  max-height: 100px;
}
.fav-active {
  background-color: #4f9e02ff;
  border: transparent;
}
.fav-inactive {
  background-color: #4f9e02ff;
  border: transparent;
}

/*------ PatternView -------*/


.pattern-show img {
  float: left;
  max-width: 500px;
  max-height: 500px;
}

.pattern-show p {
  float: left;
  width: 50%;
}

.pattern-show h1 {
  width: 50%;
  float: right;
  padding: 20px;
  font-size: 50px;
  margin: 0px;
  padding: 5px;
  text-shadow: 1px 1px 10px #faf7f380;
  -webkit-text-stroke: 2px black;
}

.pattern-show h2 {
  width: 50%;
  float: right;
  padding: 20px;
  font-size: 50px;
  margin: 0px;
  padding: 5px;
  text-shadow: 1px 1px 10px #faf7f380;
  -webkit-text-stroke: 2px black;
}
























/*   provided css  */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  max-height: 100px;
}

.button,
button {
  padding: 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
  line-height: 1;
}

.button.active,
.button:hover,
button.active,
button:focus,
button:hover {
  outline: none;
  color: var(--white);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}

button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}

button.blue.active,
button.blue:focus,
button.blue:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
} */